nav{
  background-color: rgb(2, 2, 48);
}
nav li{
  color: white;
}

/* .color-pallette{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.color-pallette button{
  border-radius: 50px;
  height: 20px;
} */